---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";

---

<PageLayout title="Caleab" description="Caleab's personal site">
  <Container>
    <div class="space-y-6 max-w-2xl">
      <h1 class="text-4xl font-bold leading-tight animate text-black dark:text-white">
        Caleab Onyango
      </h1>
      <p class="text-lg text-gray-700 dark:text-gray-300 animate">
        I'm a university student with an interest in software development and visual media. 
        I enjoy learning about practically anything and using that knowledge to create things
        (like this <a href="https://github.com/c4leab/caleab-site" class="hover:underline">website</a>).
      </p>
    </div>
  </Container>
</PageLayout>