---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { NOW } from "@consts";

const collection = await getCollection("now");
collection.sort((a, b) => new Date(b.data.sortDate) - new Date(a.data.sortDate));

const now = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={NOW.TITLE} description={NOW.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <ul class="flex flex-col space-y-4">
        { 
          now.map(entry => (
            <li class="animate">
              <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
                {entry.data.date}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))
        }
      </ul>
<!-- 
      <ul class="animate flex flex-col gap-4">

      </ul> -->
    </div>
  </Container>
</PageLayout>
</file>
</file>
